:root {
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

.thumbnail {
  width: 300px;
  height: 160px;
  object-fit: cover;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: left;
  clear: both;
  padding: 5rem;
}

.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 1rem;
  z-index: 1;
}

.name {
  font-weight: bold;
  font-size: 1rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
}

.react {
  display:    flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.25s ease;
}

.react ion-icon {
  --ionicon-stroke-width: 50px;
  font-size: 14px;
  margin-right: 10px;
}

.react span { font-size: 12px; }

.wrapper-flex {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
}

.wrapper-flex.mb { margin-bottom: 15px; }

.wrapper-flex .last-bid {
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
}

.wrapper-flex .react {
  justify-content: right;
  display:     flex;
  align-items: left;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.25s ease;
}

.wrapper-flex .react ion-icon {
  --ionicon-stroke-width: 50px;
  font-size: 14px;
  margin-right: 3px;
}
