<div class="container">

      <div>
          {% if inExercise %}
            <img class="thumbnail" src="{{ 'https://i.ytimg.com/vi/%s/hqdefault.jpg' %  videoInfo['id'] }}">
          {% else %}
            <a href="{{ videoInfo['videoUrl'] }}"><img class="thumbnail" src="{{ 'https://i.ytimg.com/vi/%s/hqdefault.jpg' %  videoInfo['id'] }}"></a>
          {% endif %}
      </div>

      {% if inMode == 'chooseLanguage' or inMode == 'chooseExerciseType' %}
        <h1 class="name">{{ videoInfo['title'] }}</h1>
      {% else %}
        <h1 class="name"><a href="{{ videoInfo['videoUrl'] }}">{{ videoInfo['title'] }}</a></h1>
      {% endif %}

      {% for subtitleCode, subtitleDict in videoInfo['subtitlesDict'].items() if True %}
            <div class="wrapper-flex">

                {% if inMode == 'chooseExerciseType' %}
                    <div class="last-bid"><p>{{ subtitleDict['longLanguage'] }}</p></div>
                {% else %}
                    <div class="last-bid"><a href="{{ subtitleDict['exerciseUrl'] }}" >{{ subtitleDict['longLanguage'] }}</a></div>
                {% endif %}

                <div class="react">

                    {% set userVote = subtitleDict.get('userVote', None) %}

                    {% if userVote == True %}
                        {% set upvoteClass = 'upvoted' %}
                        {% set downvoteClass = '' %}
                        {% set originalScore = subtitleDict['voteCount'] - 1 %}
                    {% elif userVote == False %}
                        {% set upvoteClass = '' %}
                        {% set downvoteClass = 'downvoted' %}
                        {% set originalScore = subtitleDict['voteCount'] + 1 %}
                    {% else %}
                        {% set upvoteClass = '' %}
                        {% set downvoteClass = '' %}
                        {% set originalScore = subtitleDict['voteCount'] %}
                    {% endif %}

                    <button id="downvoteButton_{{ subtitleDict['id'] }}" onclick="vote( {{ subtitleDict['id'] }}, 'downvote')" class="vote {{ downvoteClass }}" >
                        <i class="fa fa-heart-broken"></i>
                    </button>

                    <span id="voteSpan_{{ subtitleDict['id'] }}" class="voteSpan" data-db="{{ subtitleDict['id'] }}" data-original-score="{{ originalScore }}">{{ subtitleDict['voteCount'] }}</span>

                    <button id="upvoteButton_{{ subtitleDict['id'] }}" onclick="vote({{ subtitleDict['id'] }}, 'upvote')" class="vote {{ upvoteClass }}">
                        <i class="fas fa-heart"></i>
                    </button>

                </div>

            </div>
                {% if inMode == 'chooseExerciseType' %}
                <div class="subtitle-modes">
                    <a href="{{ subtitleDict['exerciseFillAllUrl'] }}" >Fill All words</a>
                <div>
                {% endif %}

      {% endfor %}



</div>