<div id="ytplayerdiv" class="responsive-video">
        <div id="ytplayer"></div>
</div>

<div class="words">
    <div class="destination"></div>
    <div class="origin">
        <div class="container"><span class="word">Marc</span></div>
        <div class="container"><span class="word">horse</span></div>
        <div class="container"><span class="word">speak</span></div>
        <div class="container"><span class="word">woman</span></div>
        <div class="container"><span class="word">I</span></div>
        <div class="container"><span class="word">American</span></div>
        <div class="container"><span class="word">An</span></div>
    </div>
    <button id="test">Next</button>
</div>

<script type="text/javascript">
    var videoId = '{{ videoId }}';
</script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/orderExercise.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename="js/orderExercise.js") }}"></script>
