<div id="InitialInstructionDiv">
    <span id="initialInstructionSpan">Click play video to start the exercise!</span>
</div>

<div id="InitialInstructionDiv">
    <span id="initialInstructionSpan">Click play video to start the exercise!</span>
</div>

<div id="ytplayerdiv" class="responsive-video">
        <div id="ytplayer"></div>
</div>

<div id='words' class="words hidden">
    <div class="destination"></div>
    <div class="origin">
        <!-- Keeping this as an example. -->
        <!-- <div class="container"><span class="word">Marc</span></div> -->
    </div>

    <button id="checkBtn">Check</button>
    <button id="playBtn">Play</button>
    <button id="skipBtn">Skip</button>

</div>


<script type="text/javascript">

    const videoId = '{{ videoId }}';

    const subtitles = {{subList | safe}};

</script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/orderExercise.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename="js/orderExerciseApi.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/orderExercise.js") }}"></script>
