{% extends "header.html" %}

{% block content %}

    <p>Enter a youtube url.</p>

    <form id="form" method="POST" action="{{ url_for('browseUrl') }}">
        {{ videoUrlForm.csrf_token }}
        <p>{{ videoUrlForm.url(size=32, autocomplete="off") }}</p>
        {{ videoUrlForm.search() }}
    </form>

    <div id="url-error" class="invalid-feedback">
    </div>

{% if videoInfo %}
    {% include "_detailedVideo.html" %}
{% endif %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/voting.js") }}"></script>

<script>
    const urlField = document.getElementById('url');
    const searchBtn = document.getElementById('search');
    const cachedUrl = localStorage.getItem('browseUrlValue');

    if (cachedUrl !== 'null')
        urlField.value = cachedUrl;

    searchBtn.addEventListener('click', async (e) => {
        localStorage.setItem('browseUrlValue', urlField.value);
    });
</script>

{% endblock %}