<html>
    <body>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
          $( function() {
            $( "#language" ).autocomplete({
              source: {{ languages | tojson }}
            });
          } );
          </script>
        <p>
            <form method="POST" action="{{ url_for('browse') }}">
            {{ searchVideoForm.csrf_token }}
            <p>
                {{ searchVideoForm.searchQuery(size=32, autocomplete="off") }}
            </p>
            <p>
                {% for error in searchVideoForm.searchQuery.errors %}
                    {{ error }}
                {% endfor %}
            </p>
            <p>
                {{ searchVideoForm.language(size=32, autocomplete="off") }}
            </p>
            <p>
                {% for error in searchVideoForm.language.errors %}
                    {{ error }}
                {% endfor %}
            </p>
            <p>
                <input type="submit" name='btn'>
            </p>
            </form>
        </p>

        {% if searchResults %}
            {% for videoInfo in searchResults %}
                <!-- todo! can be improved -->
            {% set videoId = videoInfo['id'] %}
            <li><a href="{{ url_for('exercise', videoId=videoId) }}">{{ videoInfo["title"] }}</a></li>
            {% endfor %}
        {% endif %}

        <p></p>
    </body>
</html>