<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<p>Enter a youtube url.</p>

<form id="form" method="POST">
    {{ videoUrlForm.csrf_token }}
    <p>{{ videoUrlForm.url(size=32, autocomplete="off") }}</p>
    {{ videoUrlForm.search }}
</form>

<div id="url-error" class="invalid-feedback">
</div>

{% for videoDivKey in videoDivKeys %}
    <div id="{{ videoDivKey }}"></div>
{% endfor %}

<script>
    const form = document.getElementById('form');

    const fields = {
        csrf_token: {
            input: document.getElementById('csrf_token'),
        },
        url: {
            input: document.getElementById('url'),
            error: document.getElementById('url-error'),
            ok: document.getElementById('video')
        },
    }

    let url = localStorage.getItem('browseUrlValue');
    if (url !== 'null')
        fields.url.input.value = url;

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        localStorage.setItem('browseUrlValue', fields.url.input.value);

        const response = await fetch('/browseurl/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                csrf_token: fields.csrf_token.input.value,
                url: fields.url.input.value,
            })
        });
        if (response.ok) {
            const videoInfo = await response.json();
            Object.keys(videoInfo).forEach((key) => {
                const videoInfoDiv = document.getElementById(key);

                videoInfoDiv.innerHTML = '';

                const videoKeyValue = videoInfo[key];

                if (key === 'title'){
                    let elemToAdd = document.createElement("h2");
                    let text = document.createTextNode(videoKeyValue);
                    elemToAdd.appendChild(text);
                    videoInfoDiv.appendChild(elemToAdd);
                }

                else if (key === 'thumbnail_url'){
                    let elemToAdd = document.createElement("img");
                    elemToAdd.src = videoKeyValue;
                    videoInfoDiv.appendChild(elemToAdd);
                }
                
                else if (key === 'subtitlesList'){

                    for (const subtitleCode of videoKeyValue) {
                        let aSubCode = document.createElement('a');
                        let subCode = document.createTextNode(subtitleCode);
                        aSubCode.appendChild(subCode);
                        aSubCode.href = "http://google.com";
                        aSubCode.title = "my title text";
                        videoInfoDiv.appendChild(aSubCode);
                    }
                }

            });
        } else {
            const errors = await response.json();
            Object.keys(errors).forEach((key) => {
                fields[key].error.innerHTML = errors[key][0];
            });
        }
    });
</script>