<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/general.css') }}">

<table>
    <tr>
        <td><img width="384px" src="{{ videoInfo['thumbnail_url'] }}"></td>
        <td>
            <h2>{{ videoInfo['title'] }}</h2>
            <p>{{ videoInfo['author_name'] }}</p>
            {% for subtitleName, url in subtitlesDict.items() %}
                <p>
                    <a href="{{ url }}">{{ subtitleName }}</a>
                    <span>-> </span><span>0</span><span> upvotes</span>
                    <span>0</span><span> downvotes</span>
                </p>
            {% endfor %}
        </td>
    </tr>
</table>