<div id="ytplayer"></div>

<div>
  <button type="button" id="playPauseButton" style="visibility:hidden;">Play</button>
  <input type="checkbox" id="isLoop"><label for="isLoop">Loop</label><br>
</div>

<script type="text/javascript">
    var videoId = '{{ videoId }}';
</script>

<script type="text/javascript" src="{{ url_for('static', filename="js/youtubePlayer.js") }}"></script>

<form method="POST" action="{{ url_for('exercise', videoId=videoId, languageCode=languageCode) }}">
    {{ blankExerciseForm.hidden_tag() }}
    <p>{{ blankExerciseForm.progress(value=inProgressInt, autocomplete="off") }}</p>
    <p>
        {% for error in blankExerciseForm.progress.errors %}
            {{ error }}
        {% endfor %}
    </p>
    <p>{{ blankExerciseForm.next() }}</p>
</form>

{% if currentSubtitle %}
    <p>{{ currentSubtitle }}</p>
{% endif %}