<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/subtitles.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/input.css') }}">

<div id="ytplayer"></div>

<div>
    <p id="scorePercentage">Score: </p>
</div>

{% for subDict in subList %}
    <div class="sub" data-start="{{ subDict["start"] }}" data-end="{{ subDict["end"] }}">
        {% for textTuple in subDict["text"] %}
            {% if textTuple[1] %}
                <input class='inputSub incorrectInput' type="text" data-text="{{ textTuple[0] }}" autocomplete="off"/>
            {% else %}
                <span>{{ textTuple[0] }}</span>
            {% endif %}
        {% endfor %}
        <br>
    </div>
{% endfor %}

<div>
    <p>Settings</p>
    <ul>
        <li>Subtitles:</li>
        <ul>
            <li>Before: <input type="range" min="0" max="5" step="1" id="beforeSettingsInput"></li>
            <li>After: <input type="range" min="0" max="5" step="1" id="afterSettingsInput"></li>
        </ul>
        <li>Loop until </li>
        <ul>
            <li>All correct <input type="checkbox" id="loopCorrectCheckBox"> </li>
            <li>All answered <input type="checkbox" id="loopAnsweredCheckBox"> </li>
        </ul>
        <li>Skip loop of answered lines: <input type="checkbox" id="skipAnsweredCheckBox"></li>
        <li>Simple Answer mode (ä => a): <input type="checkbox" id="simpleAnswerModeCheckBox"></li>
    </ul>
</div>

<script type="text/javascript">
    var videoId = '{{ videoId }}';
</script>

<script type="text/javascript" src="{{ url_for('static', filename="js/subtitlesDisplay.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/playerEvents.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/youtubePlayer.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/inputValidation.js") }}"></script>
