<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/subtitles.css') }}">

<div id="ytplayer"></div>

{% for subDict in subList %}
    <div class="sub" data-start="{{ subDict["start"] }}" data-end="{{ subDict["end"] }}">
        <span>{{ subDict["text"] }}</span>
        <br>
        <input class='inputSub' type="text" data-text="{{ subDict["text"] }}" autocomplete="off"/>
    </div>
{% endfor %}

<div>
    <p>Settings</p>
    <p>Subtitles:</p>
    <span>Before: </span><input type="range" min="0" max="5" step="1" id="beforeSettingsInput">
    <br>
    <span>After: </span><input type="range" min="0" max="5" step="1" id="afterSettingsInput">
    <br>
    <span>Loop until finished: </span><input type="checkbox" id="loopCheckBox">
</div>

<script type="text/javascript">
    var videoId = '{{ videoId }}';
</script>

<script type="text/javascript" src="{{ url_for('static', filename="js/subtitlesDisplay.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/playerEvents.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/youtubePlayer.js") }}"></script>
