<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <nav>
                <div>
                    <ul>
                        <li>
                            <a href="{{ url_for('index') }}">
                                <span>LanGo</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('browseUrl') }}">
                                <span>Browse by url</span>
                            </a>
                        </li>
                        <li>
                            {% if current_user.is_anonymous %}
                            <a href="{{ url_for('profile') }}">Profile</a>
                            {% else %}
                            <a href="{{ url_for('profile') }}">{{ current_user.username }}</a>
                            {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

    </body>
