{% extends "header.html" %}

{% block content %}

    {% for videoInfo in videos %}

        <img width="256px" src="{{ videoInfo['thumbnail_url'] }}">
        <p>{{ videoInfo['author_name'] }}</p>
        {% for subtitleCode, subtitleDict in videoInfo['subtitlesDict'].items() if subtitleDict['lang_default'] %}
            <p>
                <span>Video's language: </span>
                <a href="{{ subtitleDict['exerciseUrl'] }}">{{ subtitleDict['lang_translated'] }}</a>
                <span>-> </span><span>0</span><span> upvotes</span>
                <span>0</span><span> downvotes</span>
            </p>
        {% endfor %}

    {% endfor %}

{% endblock %}