.incorrectInput {
     outline:none!important;
     box-shadow: 2px 2px 3px #ccc;
     border:1px solid red;
}

.correctInput {
     outline:none!important;
     box-shadow: 2px 2px 3px #ccc;
     border:1px solid forestgreen;
}

input{
  border-radius:10px;
}